body {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    padding-left: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 50px;
  }
  
  

h4 {
    color: aliceblue;
}
ol {
    color: aliceblue;
    opacity: 50%;
    line-height: 3;
    font-weight: 400;
    list-style:georgian;

    
}
a {
    display: block;
        color: rgb(251, 248, 238);
        text-decoration:line-through;
}
p {
    color: aliceblue;
}