body {
    background-color: rgba(0, 0, 0, 0.9);

    font-family: monospace;
    max-width: 1000px;
    margin-top: 60px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;


}

main {
    padding-top: 60px;
}


.column {
    margin: 0 0 0;
    padding: 0;

}


.column div {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 0 0 0;

    padding: 0;

}


figure {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #f4efdd;
    overflow: hidden;
}

.hover01 figure img {

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* The navigation bar */
header {
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    background-color: #000000;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    padding: 0;
    /* border-bottom: 1px solid #000; */
    height: 60px;
}

header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    background-color: rgb(244, 244, 244);

}

.right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 12px;
    color: #f4efdd;
}

.left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
    color: #f4efdd;
}