/* 
---------------------------------
variables
--------------------------------- 
*/

:root {
    --bg-color: rgb(245, 242, 218);
    --text-color: rgb(137, 100, 91);
    --primary-color: rgb(140, 200, 146);
    --secondary-color: rgb(0, 255, 234);

}





/* ---------------------------------
Animation
--------------------------------- */
@keyframes heading-colors{
    0%{
      color: hsl(161, 100%, 75%)

    }
    25%{
        color: hsl(0, 100%, 75%)
    }
    50% {
        color: hsl(44, 100%, 75%)
    }
    75%{
        color: hsl(240, 100%, 75%)
    }
    100% {
        color: hsl(161, 100%, 75%)
    }

}

/* --------------------------------------
Font
-------------------------------------- */

@font-face {
    font-family: 'Absans';
    src: url('../fonts/Absans-Regular.woff2') ;
    
}

@font-face {
    font-family: 'SpratVF';
    src: url('../fonts/SpratVF.woff2') format('woff2-variations');
    
}
/* 
---------------------------------------
Base style
---------------------------------------
 */

* {
    box-sizing: border-box;
    
}



body {
    /* background-color: var(--bg-color);
    color: var(var(--text-color)); */

    display: flex;
    flex-wrap:wrap;
    
}

body.light{
    background-color: var(--bg-color);
    color: var(var(--text-color));
}

body.dark{
    background-color: var(--text-color);
    color: var(var(--bg-color));


}
main{
    background-color: floralwhite;
    /* margin-left: 300px; */

}
h1{
    font-family: 'SpratVF', serif;
    font-stretch: 100%;
    font-weight: 100;
    transition: all 1s ease;
}
h1:hover{
    font-stretch: 105%;
    font-weight: 300;

}
h2, h3, h4 {
    font-family: 'Absans', Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: var(--primary-color);
}
h4{
    color: var(--secondary-color);
}


h3+h4 {
    margin-top: 0;
}
figcaption {
    font-family: 'Courier New', Courier, monospace;
}
p {
    text-indent: 3;
    font-size: 16px;
    
    color: rgb(101, 151, 178);
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    
}

img {
    display:block;
    max-width: 100%;
    padding: 20px;

    border: 2px solid rgb(218, 134, 32);
    box-sizing: border-box;
    width: 100%;
    float: left;

}



.intro {
    color: rgb(73, 152, 184);
    width: 80%;
    font-style: italic;


}
/* 
----------------------------------
Navigation Style
----------------------------------
 */

/* hide navigation on mobile */
 /* .navigation {
    display: none;
 } */

 nav a {
    color: brown;
    font-weight: bold;
    transition:color 1s ease, background ;
 }
 nav a:hover {
background-color: azure;
color: aqua;


 }
 
/* p:hover {
    font-size: larger;
} */

 nav{

    background-color: rgb(239, 210, 171);
    padding: 10;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 300px; */
    font-family: 'Courier New', Courier, monospace;

    ol {
    
        list-style: none;

    }


    a{
        display: block;
        color: rgb(251, 248, 238);
        text-decoration: none;
        /* border-bottom: 1px solid blanchedalmond; */


    }
 }

 /* a:hover {
    color: aqua;
 }
 */


 
 /* medium screen */
 @media screen and (min-width: 600px) {
    /* show navigation on mudium screen and above */
    .navigation {
        display: block;
        order:2;
     }

     main{
        order:1;
     }
 }

/* large screen */
 @media screen and (min-width: 1200px) {
    /* show navigation on mudium screen and above */
    .navigation {
        flex-basis: 300px;
        order: 1;
        position: sticky;
        top: 0;
        align-self: flex-start;
     }

     main{
        flex-basis: calc(100% - 300px);
        order:2;
     }
 }
